= form_tag root_path, method: :get, class: "well form-search" do
  Search by rubygems.org name
  = text_field_tag :user, params[:user], class: "input-medium search-query"
  = submit_tag "Search", class: "btn"

.page-info
  != page_entries_info @users

%table.table.table-striped
  %thead
    %tr
      %th Rank
      %th Name
      %th Total Downloads
      %th Coderwall
  %tbody
    - @users.each do |user|
      %tr
        %td= user.rank
        %td
          = link_to rubygems_url(user.profile_id), target: "_blank" do
            = gravatar_image_tag user.email, alt: user.handle, gravatar: { size: 30 }
            = user.handle
        %td= number_to_human user.total_downloads
        %td{ :width => "300" }
          %section.coderwall{ :'data-coderwall-username' => user.handle, :'data-coderwall-orientation' =>  "horizontal" }
= paginate @users if params[:user].blank?
