.page-info
  != page_entries_info @users

%table.table.table-striped
  %thead
    %tr
      %th Rank
      %th Name
      %th Total Downloads

  %tbody
    - @users.each do |user|
      %tr
        %td= user.rank
        %td
          = link_to rubygems_url(user.profile_id), target: "_blank" do
            = gravatar_image_tag user.email, alt: user.handle, gravatar: { size: 30 }
            = user.handle
        %td= number_to_human user.total_downloads

= paginate @users
