- model_class = User.new.class
.page-header
  %h1 Leaders

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:handle)
      %th= model_class.human_attribute_name(:total_downloads)
      %th= model_class.human_attribute_name(:updated_at)

  %tbody
    - @users.each do |user|
      %tr
        %td
          = link_to rubygems_url(user.profile_id), target: "_blank" do
            = gravatar_image_tag user.email, alt: user.handle, gravatar: { size: 30 }
            = user.handle
        %td= user.total_downloads
        %td=l user.updated_at, format: :short
