.page-info
  != page_entries_info @users

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Total Downloads
      %th Updated at

  %tbody
    - @users.each do |user|
      %tr
        %td
          = link_to rubygems_url(user.profile_id), target: "_blank" do
            = gravatar_image_tag user.email, alt: user.handle, gravatar: { size: 30 }
            = user.handle
        %td= user.total_downloads
        %td=l user.updated_at, format: :short

= paginate @users
