.page-header
  %h1
    = gravatar_image_tag @user.email, alt: @user.handle, gravatar: { size: 50 }
    #{@user.handle}'s Ranking History
    %small
      %i.icon-globe
      = link_to rubygems_url(@user.profile_id), target: "_blank" do
        Go to rubygems.org

= link_to "View current ranking", root_path(page: @user.handle), class: "btn btn-large btn-primary"

- if @user.coderwall_name
  %section.coderwall{ :'data-coderwall-username' => @user.coderwall_name, :'data-coderwall-orientation' => "nomal" }

%table.table.table-striped
  %thead
    %th When
    %th Rank

  %tbody
    = content_tag_for :tr, @user.rank_histories.order('created_at DESC') do |history|
      %td= l history.created_at, format: :short
      %td= history.rank