!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "RubygemsLeader"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Fredoka+One'
    = stylesheet_link_tag "application", :media => "all"
    = analytics
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/") RubygemsLeader

    .container
      = render "layouts/flash", flash: flash
      .content
        .row
          .span9
            = yield
          .span3
            = adsense

      %footer
        %p
          &copy;
          = link_to "http://rubygems.org/profiles/517", target: "_blank" do
            mat_aki
          2012
    = javascript_include_tag "application"
