!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "RubygemsLeader"
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Fredoka+One'
    = stylesheet_link_tag "application", :media => "all"
    = analytics
  %body
    = forkmeongithub
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand(href="/") RubygemsLeader

    .container
      = render "layouts/flash", flash: flash
      .content
        .row
          .span10
            = yield
          .span2
            %ul.nav.nav-tabs.nav-stacked
              = menu_link_to "Users", :users
              = menu_link_to "Teams", :teams
            .well.shares
              = facebook_like
              = twitter_tweet
              = google_plus
            .hidden-phone
              = adsense
            .visible-phone.ad
              = adsense_mob

      %footer
        %p
          &copy;
          = link_to "http://rubygems.org/profiles/517", target: "_blank" do
            mat_aki
          2012
    = javascript_include_tag "application"
