!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "RubygemsLeader"
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Fredoka+One'
    = stylesheet_link_tag "application", :media => "all"
    = analytics
  %body
    .navbar.navbar-fixed-top
      = forkmeongithub
      .navbar-inner
        .container
          %a.brand(href="/") RubygemsLeader
          - if current_user
            .nav-bar-item.pull-right.btn-login
              %a.btn.btn-inverse{ :href => logout_path}
                %span.icon-signout.icon-large
                  Logout
          - else
            .nav-bar-item.pull-right.btn-login
              %a.btn.btn-inverse{ :href => "/auth/github" }
                %span.icon-github-sign.icon-large
                  Sign in with 
                  %b
                    GitHub

    = render "layouts/flash", flash: flash
    .container
      .content
        .row
          .span10
            = yield
          .span2
            %ul.nav.nav-tabs.nav-stacked
              = menu_link_to "Users", :users
              = menu_link_to "Teams", :teams
            .well.shares
              = facebook_like
              = twitter_tweet
              = google_plus
            .hidden-phone
              = adsense
            .visible-phone.ad
              = adsense_mob

      %footer
        %p
          &copy;
          = link_to "http://rubygems.org/profiles/mat_aki", target: "_blank" do
            mat_aki
          and
          = link_to "https://rubygems.org/profiles/randym", target: "_blank" do
            randym
          2012
        %p
          email support provided by
          = link_to 'http://sendgrid.com/', target: '_blank' do
            sendgrid
    = javascript_include_tag "application"
